
.nav-link:hover{
    transform: scale(1.2);
}
.galeria .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}
.galeria img{
    width: 100%;
    height: 450px;
}
.galeria img:hover{
    border: 5px solid black;
}

ul{
    text-decoration: none;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    color: black;
}

.carousel-inner{
    max-height: 25rem;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.parrafoservicios{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    padding: 15px;
}
.grid-container > * {
    box-shadow: -1px 1px 7px 0px black;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    width: 100%;
    
}
.titulo{
    grid-area: titulo;
}
.servicios1 {
    grid-area: servicios1;
}
.servicios2 {
    grid-area: servicios2;
}
.servicios3 {
    grid-area: servicios3;
}
.grid-container{
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "titulo"
        "servicios1"
        "servicios2"
        "servicios3";
}

.titulo {
    grid-area: titulo;
}

.facebook {
    grid-area: facebook;
}

.instagram{
    grid-area: instagram;
}

.twitter {
    grid-area: twitter;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "titulo"
        "facebook"
        "instagram"
        "twitter";
        
}


@media (max-with: 768px){
    #intro{
        width: 90% !important;
    }
    .servico-fila{
        width: 100%!important;
        text-align: center;
    }
}
